extends ../layout

block content
	.container
		h1 #{poll.title} 
		if (owner)
			a(href='edit/#{poll._id}') Edit (not yet)
			br
			a(href='delete/#{poll._id}' onclick="return confirm('Are you sure you want to delete this item?');") Delete (not yet)
		h4 By --#{poll.author.username}
		br
		if (voted)
			ul
			for option in poll.options
				li #{option.text} / #{option.count} votes

		if (!voted)
			form(method='POST' action='?')
				.pullOptions
					for option in poll.options
						input(type='radio' name=poll._id value = option._id)
						| #{option.text} -- #{option.count}
						br
					input(type='submit' value='Vote!')

