extends ../layout

block content
	content
		.wrapper-v
			.container
				.container-row				
					if (owner)
						.h-menu			
							a.black(href='edit/#{poll._id}') Edit
						.h-menu
							a.black(href='delete/#{poll._id}' onclick="return confirm('Are you sure you want to delete this item?');") Delete
						if (poll.disabled)
							.h-menu
								a.black(href='toggle/#{poll._id}') active
						if (!poll.disabled)
							.h-menu
								a.black(href='toggle/#{poll._id}') deactive
				if (voted)
					h1 #{poll.title}
					p Started By 
						a.black.underline(href='/dashboard/#{poll.author.username}') #{poll.author.fullname}
					p Poll description:
					| #{poll.story}
					.voteList
						canvas#myChart
						script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js')
						script.
							var data = "#{chartData}".replace(/&quot;/g, '"');
							var ctx = document.getElementById("myChart");
							var myChart = new Chart(ctx, JSON.parse(data))

				if (!voted)
					h1 #{poll.title}
					h4 Started By 
						a.black(href='/dashboard/#{poll.author.username}') #{poll.author.fullname}
					p Poll description:
					| #{poll.story}
					.container
						form(method='POST' action='?' onsubmit="return $('#submitVote').prop('disabled', true);")
							.poll-option-container
								fieldset
									for option in poll.options
										.pollOption
											input(type='radio' name=poll._id value=option._id id=option._id)
											.label-text
												label(for=option._id) #{option.text}
									input.right#submitVote(type='submit' value='Vote!')
