extends ../layout

block head
	title #{poll.title}

block content
	content
		.wrapper-v
			.container
				.container-row				
					if (owner)
						.right-20			
							a.black(href='edit/#{poll._id}') Edit
						.right-20
							a.black.delete(href='delete/#{poll._id}' onclick="return confirm('Are you sure you want to delete this item?');") Delete
						if (poll.disabled)
							.right-20
								a.black(href='toggle/#{poll._id}') active
						if (!poll.disabled)
							.right-20
								a.black(href='toggle/#{poll._id}') deactive
				if (voted)
					.hugh-text.padding-bottom-10 #{poll.title}
					.small-text.padding-bottom-10 Started By 
						a.black.underline(href='/dashboard/#{poll.author.username}') #{poll.author.fullname}
					.small-text.padding-bottom-10 Poll description:
					.small-text.padding-bottom-10 #{poll.story}

					.voteList
						canvas#myChart
						script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js')
						script.
							var data = "#{chartData}".replace(/&quot;/g, '"');
							var ctx = document.getElementById("myChart");
							var myChart = new Chart(ctx, JSON.parse(data))

				if (!voted)
					.hugh-text.padding-bottom-10 #{poll.title}
					.small-text.padding-bottom-10 Started By 
						a.black(href='/dashboard/#{poll.author.username}') #{poll.author.fullname}
					.small-text.padding-bottom-10 Poll description:
					.small-text.padding-bottom-10.max-width-600 #{poll.story}
					.container
						form(method='POST' action='?' onsubmit="return $('#submitVote').prop('disabled', true);")
							.poll-option-container
								fieldset.short
									for option in poll.options
										.pollOption
											input(type='radio' name=poll._id value=option._id id=option._id)
											.label-text
												label(for=option._id) #{option.text}
								input.vote#submitVote(type='submit' value='Vote!')
