extends ../layout

block head
	title #{user.fullname}'s Profile

block content
	.wrapper-v
			.container
				.form-title
					h1 #{user.fullname}'s Profile
			.container
				if (ownPage)	
					form#profileEditForm(role='form', action="/dashboard", method="post")
						fieldset
							.form-choice				
								label Username: #{user.username}
							.form-choice
								Label Change Password
							.form-choice
								input#newPassword(type='password', name="newPassword", placeholder='New Password' required)
							.form-choice
								input#newPasswordConfirm(type='password', name="newPasswordConfirm", placeholder='Confirm Password' required)
							.center
								button(type='submit') Submit
								&nbsp;
								a(href='/')
									button.cancel(type="button") Cancel
			.poll-list-container
				.poll-box
					if (!ownPage)
						h2 Their Polls
					if (ownPage)
						h2 My Polls	
							
					if (ownPoll.length)
						for poll in ownPoll
							.poll-item-box
								a.black(href='/poll/#{poll._id}') #{poll.title}			
					if (ownPoll.length == 0) 
						p Haven't stared any poll yet!
				.seperator
				.poll-box
					if (votedOn)
						if (!ownPage)
							h2 Their Votes
						if (ownPage)
							h2 My Votes
					
						for vote in votedOn
							.poll-item-box
								a.black(href='/poll/#{vote.poll._id}') #{vote.poll.title}
						if (votedOn.length == 0)
							p Haven't voted on anything yet.