extends ../layout

block content
  .container
    h1 My Profile
    p.lead Edit your user profile
    br
    form#profileEditForm(role='form', action="/dashboard", method="post", style='max-width: 300px;')
      fieldset
        .form-group
          label User: #{user.username}
          //- if (!user.email)
          //-   input.form-control(type='text', name='email', value='' placeholder='email')
          //- if (user.email)  
          //-   input.form-control(type='text', name='email', value='#{user.email}')
        .form-group
          Label Change Password
          input.form-control#newPassword(type='password', name="newPassword", placeholder='New Password' required)
          input.form-control#newPasswordConfirm(type='password', name="newPasswordConfirm", placeholder='Confirm Password' required)
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel

    h2 My Polls
    for poll in ownPoll 
      a(href='/poll/#{poll._id}') #{poll.title}

    h2 My Votes
    for vote in votedOn
      a(href='/poll/#{vote.poll._id}') #{vote.poll.title}